body::after {
    content: "";
    background: url(background.jpeg);
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.main-section{
    margin:auto;
    margin-top: 10%;
    background-color:rgb(244, 244, 244);
    border-radius: 5px;
}

.Header{
    display: flex;
    padding: 1%;
    color: white;
    background-color:rgb(61, 94, 143);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.headertitle{
    margin: 0 auto;
    color: white;
    margin-top: 4px;
}

.table-header{
    display: flex;
    padding: 1%;
    padding-left:5%;
    background-color:rgb(89, 94, 104);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.tableBody{
    padding: 2%;
}
