<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Spring - Crud Empleats</title>
</head>
<body>
	<div class="container"></div>
	<div>
		<H4>Empleats</H4><button type="submit">Nou Empleat</button>
	</div>
	<div>
		<table id="employeeTable" border="1">
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Càrreg</th>
				<th>Salari</th>
				<th>Accions</th>
			</tr>
			<tbody>
				<tr>
					<th>0</th>
					<td>Gerard</td>
					<td>Programador Junior</td>
					<td>puiglatorre@gmail.com</td>
					<td>
						<button type="submit">Modificar</button>
						<button type="submit">Eliminar</button>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
	</div>
</body>
</html>