<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Spring - Crud Empleats</title>
</head>
<body>
	<div class="container"></div>
	<div>
		<H4>Modificar empleat</H4>
	</div>
	<div>
		<div class="container">
			<div th:insert="Fragments/BodyHeader :: div"></div>
			<form action="/" method="post">
				#: <input type="text" name=id>
				Nom: <input type=text name=name>
				Càrreg: <input type=text name=job>
				<br><br>
				<input type=submit name="submit" value="Modificar">
				<input type=submit name="submit" value="Cancellar">
			</form>
		</div>
</body>

</html>